appdirs==1.4.4
asgiref==3.3.1
astroid==2.5.1
attrs==19.3.0
beautifulsoup4==4.9.3
cchardet==2.1.7
certifi==2019.6.16
chardet==3.0.4
clize==4.1.1
colorama==0.4.4
dj-database-url==0.5.0
Django==2.2.13
django-filter==2.2.0
django-heroku==0.3.1
djangorestframework==3.10.2
docutils==0.17
eml-parser==1.14.6
future==0.18.2
gunicorn==20.1.0
idna==2.8
isort==5.7.0
lazy-object-proxy==1.5.2
lxml==4.6.2
Markdown==3.1.1
mccabe==0.6.1
numpy==1.20.2
od==1.0
pandas==1.2.3
Pillow==8.1.0
plotly==4.14.3
prettytable==2.1.0
psycopg2==2.8.6
pyjsonq==1.0.2
pylint==2.7.2
python-dateutil==2.8.1
python-gantt==0.6.0
pytz==2019.2
requests==2.22.0
retrying==1.3.3
scrypt==0.8.17
sigtools==2.0.2
six==1.15.0
soupsieve==2.2.1
sqlparse==0.3.0
svgwrite==1.4.1
toml==0.10.2
toolz==0.11.1
urllib3==1.25.3
w3lib==1.22.0
wcwidth==0.2.5
whitenoise==5.2.0
wrapt==1.12.1
